<html>
<body><form class="form-inline" onchange="{{ url_for('test') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please select</span>
            <select name="comp_select" class="selectpicker form-control">
             
              <option value="h">{hhh</option>
			  <option value="h">gghj</option>
			  <option value="amol">huhh</option>
                                                           
            </select>
    </div>
    
  </div>
</form>
</html>
</body>